{% extends 'main/layout.html' %}

{% block title%}Про нас{% endblock %}

{% block content %}
    <div class="test" style="height:1550px">
        <h3>О НАС</h3>
        <p>Сайт сделали ученики 9 А класса Коновалов Иван, Иванов Артур, Евгений Федосов в качестве продукта
            проекта 2022 года. Сайт написан с помощью фреймворка Django на Python. Также при написании сайта мы
            познакомились с работой с CSS(таблицей стилей),HTML(языком разметки гипертекста) и Java Script
        </p>

    </div>
{% endblock %}